/* Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffc300;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #001d3d;
}

::-webkit-scrollbar-track {
    background: #000814; /* Track color */
}